@normal:#febc11;

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1em;
}

h1{
    font-size: 2.4em;
    margin-bottom: 20px;
}

h2{
    font-size: 1.9em;
    margin-bottom: 20px;
}

h3{
    font-size: 1.5em;
    margin-bottom: 20px;
}

h4{
    font-size: 1.2em;
    margin-bottom: 20px;
}

p{
    font-size: 1.2em;
}

.small-text{
    font-size: .8em;
}

.super-small-text{
    font-size: .6em;
}


.cta{
    padding:.8em  1.9em;
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: @normal ;
    font-size: 1.3em;
    margin-bottom: 20px;

}


.container{
    display: block;
    margin: 0 auto 0px auto;
    width: 100%;
    //border: 1px solid #f81717;
    padding: 1.5em;
    box-sizing: border-box;
    background-image: url(../img/HeroBg.png);
    background-repeat: no-repeat;
    //background-size: 100% 100%;

    .flex-container{
        //max-width: 75em;
        //align-items: flex-start;
        //align-items: center;
        //align-items: flex-end;
        //align-items: strecht;
        //align-content: center;
        //align-content: space-between;
        //align-content: space-around;
        align-content: flex-start;
        //border: 1px solid blue;
        border-radius: 1em;
        padding: 0 0 0 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        //justify-content: space-evenly;
        //justify-content: flex-start ;
        //justify-content: flex-end ;
        justify-content: center;
        //justify-content:space-between;
        //flex-flow: row-wrap;
        //flex-flow: row wrap-reverse;
        //height: 600px; //will stretch all content
        margin: 0 auto;
        width: 80%;


        .box{
            color:black;
            font-weight: bold;
            text-align: center;

            .logo{
                width: 300px;
                display: block;
                 margin: 0 auto 20px auto;

                img{
                    width: 100%;
                }
            }

            h1{
                text-decoration: underline;
            }

            h4{
                font-weight: normal;
                display: block;
                width: 45%;
                margin: 0 auto 1em auto;
                word-break: keep-all;
            }
            
        }

        .c1{
            background-color: red;
            order: 2;
            flex-grow: 1;
            flex-basis: 50%;
        }

        .c2{
            background-color: blue;
            order: 3;
            flex-grow: 3;
        }

        .c3{
            background-color: green;
            order:1;
            flex-grow: 2;
        }
    }
}