body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1em;
}
h1 {
  font-size: 2.4em;
  margin-bottom: 20px;
}
h2 {
  font-size: 1.9em;
  margin-bottom: 20px;
}
h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
}
h4 {
  font-size: 1.2em;
  margin-bottom: 20px;
}
p {
  font-size: 1.2em;
}
.small-text {
  font-size: 0.8em;
}
.super-small-text {
  font-size: 0.6em;
}
.cta {
  padding: 0.8em 1.9em;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #febc11;
  font-size: 1.3em;
  margin-bottom: 20px;
}
.container {
  display: block;
  margin: 0 auto 0px auto;
  width: 100%;
  padding: 1.5em;
  box-sizing: border-box;
  background-image: url(../img/HeroBg.png);
  background-repeat: no-repeat;
}
.container .flex-container {
  align-content: flex-start;
  border-radius: 1em;
  padding: 0 0 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}
.container .flex-container .box {
  color: black;
  font-weight: bold;
  text-align: center;
}
.container .flex-container .box .logo {
  width: 300px;
  display: block;
  margin: 0 auto 20px auto;
}
.container .flex-container .box .logo img {
  width: 100%;
}
.container .flex-container .box h1 {
  text-decoration: underline;
}
.container .flex-container .box h4 {
  font-weight: normal;
  display: block;
  width: 45%;
  margin: 0 auto 1em auto;
  word-break: keep-all;
}
.container .flex-container .c1 {
  background-color: red;
  order: 2;
  flex-grow: 1;
  flex-basis: 50%;
}
.container .flex-container .c2 {
  background-color: blue;
  order: 3;
  flex-grow: 3;
}
.container .flex-container .c3 {
  background-color: green;
  order: 1;
  flex-grow: 2;
}
