body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  display: block;
  margin: 0 auto;
  border: 1px solid red;
  padding: 1.5em;
}
.container .flex-container {
  align-content: center;
  background: white;
  border: 1px solid blue;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 700px;
  margin: 0 auto;
  width: 80%;
}
.container .flex-container .box {
  border: 1px solid gray;
  background-color: white;
  color: black;
  font-weight: bold;
  width: 200px;
  line-height: 200px;
  text-align: center;
  margin: 5px;
}
.container .flex-container .c1 {
  background-color: red;
  order: 2;
  flex-grow: 1;
  flex-basis: 50%;
}
.container .flex-container .c2 {
  background-color: blue;
  order: 3;
  flex-grow: 3;
}
.container .flex-container .c3 {
  background-color: green;
  order: 1;
  flex-grow: 2;
}
